@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Buy, Sell, Trade! is a class project for ASP.NET Extreme. Buy, Sell, Trade! is
    a modern site where users can buy, sell, and trade goods to other users. Simply
    Create an account and begin buying and selling items.
    </p>
