@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1600 Chester Avenue<br />
    Bremerton, WA 98337-1699<br />
    <abbr title="Phone">P:</abbr>
   123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:justincrawford@student.olympic.edu">justincrawford@student.olympic.edu</a><br />
</address>